.error{
    color: red;
}
.table_icon{
	font-size: 20px !important;
    color: #fff;
}
.table_icon_red{
	font-size: 20px !important;
    color: #fff;
}
.employee-switch{
    display:inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
.input_select2{
    display: -webkit-box;
}
.input_select2 .select2-container{
    width:95%!important;
}
.hidden{
    display: none;
}
.table-action-btn{
    padding:0.25rem 0.5rem;
}
.delete_btn{
    padding:0.25rem 0.5rem;
}
.btn-info{
    color: #FFF;
}
.btn-warning{
    color: #FFF;
}
.approve_btn {
    font-size: 19px;
}
.login-img {
  position: absolute;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    height: 1000px;
}
.bg_gradiant1 {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  position: relative;
}
.bg_gradiant2 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.bg_gradiant1::after {
  position: absolute;
    content: "";
    height: 120px;
    width: 120px;
    transform: rotate(40deg);
    top: -35px;
    right: 0px;
    border-radius: 1.75rem;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.bg_gradiant2::after {
  position: absolute;
    content: "";
    height: 120px;
    width: 220px;
    transform: rotate(30deg);
    top: -35px;
    left: 10px;
    border-radius: 1.75rem;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.emp_view.btn.btn-warning:hover {
    color: white;
}
@media (max-width:767px) {
  .login-img {
    height: 600px;
  }
}
@media (max-width:575px) {
.footer {
text-align: center;
}
.input_select2 .select2-container {
  width: 91% !important;
}
.dashboard-content {
  padding-top: 40px;
}
}
@media (max-width:480px) {
  .input_select2 .select2-container {
    width: 86% !important;
  }
  .btn {
    font-size: 12px;
  }
}
@media (max-width:375px) {
  .input_select2 .select2-container {
    width: 85% !important;
  }
}

